<!DOCTYPE html>
<html lang="uz">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>EduHub — O'quv Markaz</title>

  {% include 'components/_styles.html' %}

  {% block style %}
  {% endblock style %}

</head>
<body>

{% include 'components/_navbar.html' %}

{% block hero %}
{% include 'components/_hero.html' %}
{% endblock hero %}

<div class="divider"></div>

{% block main %}
{% endblock main %}

{% include 'components/_footer.html' %}

</body>
</html>
