<div class="hero">
  <div class="hero-bg"></div>
  <div class="hero-circles"></div>
  <div class="hero-content">
    <div class="hero-badge fade-up"><i class="fa-solid fa-graduation-cap fa-xs"></i> &nbsp;O'quv markaz platformasi</div>
    <h1 class="hero-title fade-up delay-1">Edu<em>Hub</em><br>Academy</h1>
    <p class="hero-desc fade-up delay-2">
      Zamonaviy kurslar, tajribali o'qituvchilar va qulay o'quv muhiti. O'z karyerangizni bugun boshlang.
    </p>
    <div class="hero-actions fade-up delay-3">
      <a href="{% url 'all_courses' %}" class="btn-primary"><i class="fa-solid fa-play fa-xs"></i> Kurslarni ko'rish</a>
      <a href="{% url 'all_students' %}" class="btn-outline"><i class="fa-solid fa-users fa-xs"></i> Talabalar</a>
    </div>
  </div>
</div>
